    <style>
        *{
            background-color: rgb(226, 234, 240);
        }
        #h2{
            font-family: Georgia, serif;
        }
        div.first{
            width: 100%;
        }
        div#leftimg{
            float: left;
            width: 30%;
        }
        div#rightsection{
            width: 70%;
        }
        img {
            margin-left: 100px;
            border-radius: 50%;
            width: 30%;
            height: auto;
        }
    </style>
